{
    "semi": true,
    "tabWidth": 2,
    "useTabs": false,
    "trailingComma": "es5",
    "singleQuote": false,
    "jsxSingleQuote": false,
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "endOfLine": "lf"
}
