// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Paginator
$pagination-bg: #1a202c;
$pagination-color: white;
$pagination-disabled-bg: #172642;

// Position
$position-values: (
    0: 0,
    50: 50%,
    83: 83%,
    100: 100%
);

// CSS Grid
$enable-cssgrid: true
