// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Paginator
$pagination-bg: #1a202c;
$pagination-color: white;
$pagination-disabled-bg: #172642;
